.ticker-wrapper {
  overflow: hidden;
  background: #ffffff; /* Match header background */
  padding: 2px 0;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.ticker-text {
  white-space: nowrap;
  animation: scroll 10s linear infinite;
  color: #000;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}


@keyframes scroll {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
