/* src/components/GameTabs.css */

.game-tabs-wrapper {
  display: flex;
  gap: 10px;
  padding: 12px 7px 28px;
  justify-content: space-between;
  background: #f2f2f2; /* ← match header bg */
  overflow-x: auto;
}

.game-tabs-wrapper::-webkit-scrollbar {
  display: none; /* optional: hide scrollbar */
}
.game-status.open {
  color: #28a745; /* Green color */
}

/* Style for when the game is closed */
.game-status.closed {
  color: #f84404; /* Red color */
}

.game-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 19px 18px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  white-space: nowrap;
  font-family: "Poppins", sans-serif !important;
  width: 50%;
  position: relative;
}

.game-tab.bgchanges{

   background: #f84404; /* Changed from #ffb81c to a reddish color (Crimson) */
   border: 1px solid #f84404;
   color: #fff;
}

.game-tab.bgchangeg2{

  background-color: transparent;
  border: 1px solid #f84404;
  color: #f84404;
}

.btn_playebg{

  padding: 6px 25px;
  border-radius: 8px;
  text-align: center;

}

.btn_playebg.bgred{

  background-color: #f84404;
  color: #fff;
  border: 0;
}

.btn_playebg.bgrednone{

  background-color: #fff;
  border: 1px solid #f84404;
  color: #f84404;
}
.playbts{

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30%;
}

.iccon-play {
  width: 18px;
  height: 18px;
  background: url('../assets/icons/playicon.svg') center/contain no-repeat;
  flex-shrink: 0;
  /* Optional: Invert icon color if it's a single-color SVG to make it visible on dark bg */
  filter: brightness(0) invert(1);
}