.notice-content {
  flex: 1;
  overflow-y: auto;
  padding: 5px 20px 24px;
  text-align: center;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.notice-section {
  margin-bottom: 25px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.notice-section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.notice-section li {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: left;
  
}

.wa-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 22px;
}

.wa-icon {
  width: 26px;
  height: 26px;
  background: url("../assets/icons/logos_whatsapp-icon.svg") center/contain
    no-repeat;
}
