/* Full‑height white screen */
.setpin-content-wrapper {
  padding: 26px 20px 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 1000;
    margin-top: -35px;
    background-color: #fff;
    border-radius: 40px 0px 0px 0px;
}


/* Heading row */
.heading-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 60px;
  margin-top: 15px;
}

.accent-bar {
  width: 8px;
  height: 72px;
  background: #ff2600;          /* yellow */
  border-radius: 3px;
}

.heading-row h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
}

/* Labels */
.field-label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.sararr{

  width: 65px;
  margin-bottom: 30px;
}
/* Input box */
.text-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  /* border-radius: 12px; */
  padding: 16px 0px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;        /* ← prevents overflow */
  margin-bottom: 40px; 
}

.text-input:focus{

  border-color: #ff2600;
}

/* Yellow button */
.setpin-btn {
   width: 100%;
  margin: 18px auto 8px;
  display: block;
  padding: 16px 24px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .2px;
  background: linear-gradient(180deg,var(--orange),var(--orange-700));
  border-radius: var(--radius-pill);
  box-shadow: 0 10px 24px rgba(240,75,24,.35);
  cursor: pointer;
  transition: transform .08s ease, filter .2s ease;
  margin-top: 20px;
}

/* Countdown */
.resend-text {
  text-align: center;
  margin-top: 24px;
  font-size: 15px;
  font-weight: 500;
  color: #444;
}

/* Resend link (after timer) */
.resend-link {
  background: none;
  border: none;
  color: #ff2600;
  font-weight: 600;
  margin: 24px auto 0;
  cursor: pointer;
}
