#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Optional black frame background */
  height: 100vh;
  width: 100vw;
}

.splash-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* On desktop: simulate phone frame */
@media (min-width: 768px) {
  .splash-image {
    width: 360px;
    height: 780px;
    border-radius: 32px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  }
}
